<app-header [leftTitle]="'Hi Sela'"  showAvatar="true"></app-header>

<ion-content [fullscreen]="true">
  
  <div class="m-1">
    <ion-segment (ionChange)="segmentChanged($event)" value="subjects">
      <ion-segment-button value="subjects">
        <ion-label>Subjects</ion-label>
      </ion-segment-button>
      <ion-segment-button value="coaches">
        <ion-label>Coaches</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="isSubjects; else isCoaches">
          <ion-list>
            <ion-item *ngFor="let subject of subjects">
              <ion-avatar slot="start">
                <img src="{{ subject?.img }}">
              </ion-avatar>
              <ion-label>
                <ion-row>
                  <ion-col class="ion-no-padding" size="6">
                  <h2><strong>{{ subject?.title }}</strong></h2>
                    </ion-col>
                  <ion-col class="ion-no-padding ion-text-end"  size="6">
                    <span class="moment-text">{{ subject?.moments }}</span>
                  </ion-col>
                </ion-row>
                <p>{{ subject?.description }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
       
        <ng-template #isCoaches>
          <ion-list>
            <ion-item *ngFor="let subject of subjects.slice().reverse()">
              <ion-avatar slot="start">
                <img src="{{ subject?.img }}">
              </ion-avatar>
              <ion-label>
                <ion-row>
                  <ion-col class="ion-no-padding" size="6">
                  <h2><strong>{{ subject?.title }}</strong></h2>
                    </ion-col>
                  <ion-col class="ion-no-padding ion-text-end"  size="6">
                    <span class="moment-text">{{ subject?.moments }}</span>
                  </ion-col>
                </ion-row>
                <p>{{ subject?.description }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
